<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_zPWECKnej44Flev2zwZDcznJ');
  // ...
</script>

<div class="container">

  <% if flash[:alert] != nil %>
    <div class="col-xs-10 col-xs-offset-1 bottom-margin">
      <p class="alert"><%= flash[:alert] %></p>
    </div>
  <% end %>

  <% if @clinics == [] %>
    <div class="col-xs-10 col-offset-3 bottom-margin">
      <p class="red-text">There are currently no scheduled clinics.</p>
    </div>
  <% else %>
    <% @clinics.each do |clinic| %>
      <div class="col-xs-10 col-xs-offset-2 bottom-margin">
        <p><span class="bold"><%= clinic.name %></span> - <%= number_to_currency(clinic.price) %></p>
        <p>Location: <%= clinic.location_name %></p>
        <p>Date: <%= clinic.date_time %></p>
        <p><%= clinic.location_street_one %>, <%= clinic.city %>, <%= clinic.state %></p>
        <p>Spots Taken: <%= clinic.total_spots - clinic.remaining_spots %></p>
        <p>Remaining Slots: <%= clinic.remaining_spots %></p>
        <% if current_user != nil && current_user.admin %>
          <%= button_to 'edit', edit_clinic_path(clinic), :method => 'get', class: 'btn btn-info float-left' %>
          <%= button_to "delete", clinic, :method => 'delete', class: 'btn btn-danger float-left' %>
        <% else %>
          <%= link_to 'buy', clinic_path(clinic) %>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>

