<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_zPWECKnej44Flev2zwZDcznJ');
  // ...
</script>

<div class="container">
  <div class="col-xs-6 col-xs-offset-3 clinic-wrap">
  <% if @clinics == [] %>
    <div class="col-xs-10 col-offset-3 bottom-margin">
      <p class="red-text">There are currently no scheduled clinics.</p>
    </div>
  <% else %>
    <% @clinics.each do |clinic| %>
      <div class="col-xs-12 bottom-margin">
        <p><span class="bold"><%= link_to clinic.name, new_student_path(:clinic_id => clinic.id) %></span> - <%= number_to_currency(clinic.price) %></p>
        <p><span class="bold">Location</span>: <%= clinic.location_name %></p>
        <p><span class="bold">Date</span>: <%= clinic.date_time.strftime "%A %B %e at %l:%M %P" %></p>
        <p><span class="bold">Description</span>: <%= clinic.description %></p>
        <p><%= clinic.location_street_one %>, <%= clinic.city %>, <%= clinic.state %></p>
        <% if current_user != nil && current_user.admin %>
          <p><span class="bold">Spots Taken</span>: <%= clinic.students.length %></p>
          <% if clinic.remaining_spots > 0 %>
            <p><span class="bold">Remaining Spots</span>: <%= clinic.remaining_spots %></p>
          <% else %>
            <p class="red-text">Remaining Spots: <%= clinic.remaining_spots %></p>
          <% end %>
        <% end %>
        <% if current_user != nil && current_user.admin %>
          <% if clinic.date_time > DateTime.now %>
            <%= button_to 'edit', edit_clinic_path(clinic), :method => 'get', class: 'btn btn-info float-left' %>
            <%= button_to "delete", clinic, :method => 'delete', class: 'btn btn-danger float-left' %>
          <% end %>
            <%= link_to 'view students', students_path(:clinic_id => clinic.id), class: 'btn btn-primary' %>
        <% else %>
          <% if clinic.sold_out? || clinic.expired? %>
            <button class="btn btn-danger">Sold Out</button>
          <% else %>
            <%= link_to 'buy', new_student_path(:clinic_id => clinic.id), class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <hr class="black-lines">
      </div>
    <% end %>
  <% end %>
  </div>
</div>

