<%- title "Wolf Lacrosse - " + @student.clinic.name %>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'logo_blue.png', class: 'logo-nav' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/clinics">Clinics</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <!-- admin section -->
      <% if current_user != nil && current_user.admin %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/admin/clinics">Scheduled Clinics</a></li>
            <li><a href="/clinics/new">Add a Clinic</a></li>
            <li class="divider"></li>
            <li><%= link_to'Log Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content-wrap">
  <div class="container">
    <div class="col-xs-10 col-xs-offset-1">
      <h1><%= @student.clinic.name %></h1>
      <h5><%= @student.clinic.date_time.strftime "%A %b %e, %Y at %l:%M %P" %></h5>
      <hr>
      <p><span class="bold">Location</span>: <%= @student.clinic.location_name %> <br>
        <% if @student.clinic.location_street_two.nil? %>
          <%= @student.clinic.location_street_one %> <br>
        <% else %>
          <%= @student.clinic.location_street_one %>, <%= @student.clinic.location_street_two %> <br>
        <% end %>
        <%= @student.clinic.city %>, <%= @student.clinic.state %>
      </p>
      <p><span class="bold">Description</span>: <%= @student.clinic.description %></p>
      <p><span class="bold">Spots Left: </span><%= @student.clinic.remaining_spots %></p>
    </div>

    <div class="col-xs-5 col-xs-offset-1 bottom-margin">
      <% unless @student.clinic.sold_out? || @student.clinic.expired? %>
        <button class="checkout-button" data-toggle="modal" data-target="#myModal">Pay with Card</button>
      <% end %>
    </div>

    <div class="col-xs-10 col-xs-offset-1 centered" id="google-map">
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["WOLF_GMAPS_KEY"] %>
      &q=<%= @student.clinic.location_name.split(' ').join('+') %>"></iframe>
    </div>

  <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= @student.clinic.name %></h4>
          </div>
          <div class="modal-body">
            <% if flash[:alert] != nil %>
              <div class="col-xs-10 col-xs-offset-1 bottom-margin">
                <p class="alert"><%= flash[:alert] %></p>
              </div>
            <% else %>
              <div class="col-xs-10 col-xs-offset-2">
                <%= form_for @student, multipart: true do |f| %>

                <div class="form_group">
                  <%= f.label :name %>
                  <%= f.text_field :name, id: 'name', class: 'form-control' %>
                </div>

                  <%= f.hidden_field :clinic_id, value: @student.clinic.id %>
                  <%= f.hidden_field :stripe_card_token %>
                  <%= f.hidden_field :amount, value: @student.clinic.price.to_i * 100 %>

                <div class="form_group bottom-margin-small">
                  <%= f.label :email %>
                  <%= f.text_field :email, class: 'form-control' %>
                </div>

                <div class="form_group bottom-margin-small">
                  <%= f.label :age %>
                  <%#= f.number_field :age %>
                  <%= f.select :age, ((10..18).map {|i| [i,i]}), class: 'form-control' %>
                </div>

                <% if @student.stripe_card_token %>
                  <p>Credit Card has been provided</p>
                <% else %>

                  <div class="form_group">
                    <%= label_tag :card_number, "Credit Card Number" %>
                    <%= text_field_tag :card_number, nil, name: nil, class: 'form-control' %>
                  </div>

                  <div class="form_group bottom-margin">
                    <%= label_tag :card_code, "Security Code on Card (CVV)" %>
                    <%= text_field_tag :card_code, nil, name: nil, class: 'form-control' %>
                  </div>

                  <div class="form_group">
                    <%= label_tag :card_month, "Card Expiration" %>
                    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
                    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year + 15}, {name: nil, id: "card_year"} %>
                  </div>
                <% end %>
                  <div id="stripe_error">
                    <noscript>JavaScript is not enabled and is required for this form. First enable it in your browser settings.</noscript>
                  </div>
                  <div class="field_with_errors">
                    <%= @student.errors.full_messages.join(', ') %>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            <%= f.submit 'Pay', class: 'btn btn-primary' %>
          </div>
                <% end %>
            <% end %>
        </div>
      </div>
    </div>



  </div>
</div>
