<%- title "Wolf Lacrosse - Camp Reports" %>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'new_logo_blue.png', class: 'logo-nav' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/camps">Camps</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/about/staff">Staff</a></li>
        <li><a href="/about/jordan">Jordan</a></li>
        <li><a href="<%= new_camper_path %>">Register</a></li>
      </ul>
      <!-- admin section -->
      <% if current_user != nil && current_user.admin %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/camps/new">Add a Camp</a></li>
            <li><a href="/camps/reports">Camp Reports</a></li>
            <li class="divider"></li>
            <li><%= link_to'Log Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content-wrap">
  <div class="container">
    <div class="col-xs-10 col-xs-offset-1 bottom-margin">
      <h1 class="centered">View Camp Reports</h1>
    </div>
  </div>

  <div class="container">
    <div class="col-xs-12">
      <% if flash[:notice] %>
        <p class="alert"><%= flash[:notice] %></p>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="col-xs-8">
      <%= form_tag '/camps/reports', method: 'get', class: 'form-inline', id: 'report-camp-select' do %>
        <div class="form-group">
          <%= label_tag :id, "Filter by Camp: " %>
          <%= select_tag :id, options_from_collection_for_select(@camps, "id", "report_name", @camp.id), {class: 'form-control'} %>
        </div>
        <div class="form-group">
          <%= submit_tag "Submit", {class: 'form-control', id: 'camp-select-submit-button'} %>
        </div>
      <% end %>
      <p>
        Download:
        <%= link_to "CSV", camps_reports_path(sort: sort_column, direction: sort_direction, id: @camp.id, format:"csv") %>
        <%#= link_to "Excel", camps_reports_path(format:"xls") %>
      </p>
    </div>
  </div>

  <%= render "report_detail" %>

</div>
