<%- title "Wolf Lacrosse - About" %>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'logo_blue.png', class: 'logo-nav' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/camps">Camps</a></li>
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/about?q=staff">Staff</a></li>
        <li><a href="/about?q=jordan">Jordan</a></li>
        <li><a href="<%= new_camper_path %>">Register</a></li>
      </ul>
      <!-- admin section -->
      <% if current_user != nil && current_user.admin %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/clinics/new">Add a Clinic</a></li>
            <li><a href="/camps/reports">Camp Reports</a></li>
            <li class="divider"></li>
            <li><%= link_to'Log Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content-wrap">
  <div class="container bottom-margin">
    <div class="col-xs-12 centered">
      <div id="owl-demo" class="owl-carousel owl-theme">

        <div class="item"><%= image_tag 'slideshow1.jpg' %></div>
        <div class="item"><%= image_tag 'slideshow2.jpg' %></div>
        <div class="item"><%= image_tag 'slideshow3.jpg' %></div>
        <div class="item"><%= image_tag 'slideshow4.jpg' %></div>

      </div>
    </div>
  </div>

  <div class="container" id="about">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>About</h1>
      <p>I founded Wolf lacrosse in an effort to prepare and mold the future talent of college and professional lacrosse. The company is based around the principles of teaching, foundation, fundamentals, and development. I have had the privilege to be coached and trained by some of the best minds in the game and I would like to give other youth lacrosse players that same opportunity. We will provide kids with the skills as well as the intangible qualities to succeed on and off the field.</p>
    </div>

    <div class="col-xs-10 col-xs-offset-1">
      <h1>Mission</h1>
      <p>Wolf Lacrosse provides a specialized and position oriented skills clinic that puts development above all else. These clinics will be held in small groups in order to maximize instruction and provide players with the personal attention necessary to improve. Dodging, shooting, inside play, feeding, riding, leadership, training, and other aspects of the position will be at the core of the program. </p>
    </div>

    <div class="col-xs-10 col-xs-offset-1">
      <h1>Philosophy</h1>
      <p>I have worked, coached, and attended many camps throughout my lacrosse youth experience. I believe there is a needed service for a more specialized and position focused skills clinic that puts development and teaching ahead of all other aspects. Wolf Lacrosse clinics will give players the opportunity to hone their skills and improve their fundamentals in order to prepare them for future lacrosse competitions. (recruiting events, seasons, tournaments etc.)</p>
    </div>

    <div class="col-xs-10 col-xs-offset-1">
      <h1>Sample Camp Schedule</h1>
      <h5 class="underline">Daily Schedule</h5>
      <p>So what the heck will I be doing at Wolf Lacrosse Camp anyway?</p>
      <p>Arrive at 8:45am sharp with all equipment, lunch and water bottle.  We will play HARD from 9-3 with a one hour lunch break from 11:30-12:30.</p>
      <p>We will become more proficient lacrosse players, compete hard, get smarter, have some cool demonstrations and conduct fun competitions with prizes! We will be testing your lacrosse IQ and skills throughout the day!</p>

      <h5 class="underline">Day 1</h5>
      <ul>
        <li>Stick work</li>
        <li>Offensive, defensive, between the lines ground balls</li>
        <li>Scrapping ground balls to goal</li>
        <li>Build up - 2v1, 3v2, 4v3, 5v4, 6v5 </li>
        <li>Scramble situation drills - Unsettled play</li>
        <li>Contests - Groundball, unsettled, 1v1s, shooting</li>
        <li>Games</li>
      </ul>

      <h5 class="underline">Day 2</h5>
      <ul>
        <li>Stick work</li>
        <li>1 v 1s, 2v2, 3v3s, 4v4s  - position oriented</li>
        <li>Wing dodging</li>
        <li>Indoor style dodging</li>
        <li>Shooting - position oriented including Defense</li>
        <li>Contests</li>
        <li>Games</li>
      </ul>

      <h5 class="underline">Day 3</h5>
      <ul>
        <li>Stick work</li>
        <li>Shooting demo</li>
        <li>Defensive footwork</li>
        <li>Unsettled drills</li>
        <li>1v1s</li>
        <li>Contests</li>
        <li>Games</li>
      </ul>
    </div>
  </div>

  <div class="container" id="jordan">
    <div class="col-xs-6 col-xs-offset-3 bottom-margin">
      <h1>Jordan</h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1 bottom-margin">
      <div class="profile-wrap-jordan">
        <%= image_tag 'jordan.png', class: 'jordan-profile' %>
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3" id="jordan-bio">
      <p>Jordan grew up in Philadelphia, PA attending Lower Merion HS where he excelled in lacrosse, hockey and soccer. He has fond memories of ski vacations with his parents and two brothers, Evan and Will. When he thinks of Philly, he thinks of Kobe Bryant, Cheesesteaks, the Eagles, the Flyers and the Phillies!</p>
      <h4>Facts:</h4>
      <ul>
        <li>Favorite music: Tupac, Lil Wayne, Zac Brown Band</li>
        <li>Favorite food: Spaghetti and Meatballs</li>
        <li>Favorite show: The Office and ESPN Sportscenter</li>
        <li>Favorite movie: Remember the Titans</li>
      </ul>
      <h4>Accomplishments:</h4>
      <div class="accomplishments-wrap">
        <h5>Rochester Rattlers</h5>
        <ul>
          <li>2nd overall pick in 2014 MLL draft</li>
          <li>Rookie of the week twice in MLL in 2014</li>
        </ul>
        <h5>Duke University</h5>
        <ul>
          <li>2013 &amp; 2014 NCAA Champion</li>
          <li>2014 NCAA Title Game Most Outstanding Player</li>
          <li>2014 Tewaaraton Award Finalist</li>
          <li>2014 USILA 1st Team All-American</li>
          <li>2014 USILA 1st Team All-American</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="container" id="staff">

    <div class="col-xs-8 col-xs-offset-2 staff top-margin">
      <div class="col-xs-4">
        <div class="profile-wrap">
          <%= image_tag 'george_stein_sprite.jpg', class: 'profile', id: 'stein' %>
        </div>
      </div>
      <div class="col-xs-7 col-xs-offset-1 left-margin">
        <h2>George Stein, Camp Director</h2>
        <h5>Notable Accomplishments:</h5>
        <ul>
          <li>Founder &amp; Director of Project Denver in Denver, CO. Free one week camp for underprivileged youngsters ages 6-11. (2009-present)</li>
          <li>Founder &amp; Director of Dream BIG Day Camp in Denver, CO. Private traditional day camp for boys and girls ages 4-12. (2006-2012)</li>
          <li>Owner &amp; Director of Camp Echo Lake in Warrensburg, NY. Private residential camp founded by grandparents in 1946 serving boys and girls ages 7-16. (1989-2003)</li>
          <li>Chair, Tri State Camping Conference in NYC. Largest gathering of camp professionals in the world. (2000-2001)</li>
          <li>Graduate of Tufts University. Competed inter-collegiately in lacrosse, football and basketball. (Class of 1988)</li>
          <li>Proud father of 13 year old twin boys, Will and Morry</li>
        </ul>
      </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2 staff">
      <div class="profile-wrap-right">
        <%= image_tag 'michael_manley_sprite.png', class: 'profile', id: 'manley' %>
      </div>
      <h2>Mike Manley, Defense</h2>
      <p> Native of Penn Yan New York. Currently plays professionally for the Rochester Rattlers.</p>
      <h5>Notable Accomplishments:</h5>
      <ul>
        <li>2010 NCAA National Champion</li>
        <li>2010 3rd Team USILA All American, All ACC Selection</li>
        <li>2014 MLL Defenseman of the Year</li>
      </ul>
    </div>

  </div>
</div>
