<%- title "Wolf Lacrosse - About" %>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'logo_blue.png', class: 'logo-nav' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/camps">Camps</a></li>
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/about?q=staff">Staff</a></li>
        <li><a href="/about?q=jordan">Jordan</a></li>
        <li><a href="<%= new_camper_path %>">Register</a></li>
      </ul>
      <!-- admin section -->
      <% if current_user != nil && current_user.admin %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/clinics/new">Add a Clinic</a></li>
            <li><a href="/camps/reports">Camp Reports</a></li>
            <li class="divider"></li>
            <li><%= link_to'Log Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content-wrap">
  <div class="container bottom-margin">
    <div class="col-xs-12 centered">
      <div id="owl-demo" class="owl-carousel owl-theme">

        <div class="item"><%= image_tag 'slideshow1.jpg' %></div>
        <div class="item"><%= image_tag 'slideshow2.jpg' %></div>
        <div class="item"><%= image_tag 'slideshow3.jpg' %></div>
        <div class="item"><%= image_tag 'slideshow4.jpg' %></div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-xs-12 centered">
      <div class="btn-group">
        <button type="button" class="btn btn-default" id="about-button"><span class="red-text">About</span></button>
        <button type="button" class="btn btn-default" id="jordan-button"><span class="red-text">Jordan</span></button>
        <button type="button" class="btn btn-default" id="staff-button"><span class="red-text">Staff</span></button>
      </div>
    </div>
  </div>

  <div class="container" id="about">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>About Us</h1>
      <p>I founded Wolf lacrosse in an effort to prepare and mold the future talent of college and professional lacrosse. The company is based around the principles of teaching, foundation, fundamentals, and development. I have had the privilege to be coached and trained by some of the best minds in the game and I would like to give other youth lacrosse players that same opportunity. The experience of myself and my staff will provide kids with the skills as well as the intangible qualities to succeed on and off the field.</p>
    </div>

    <div class="col-xs-10 col-xs-offset-1">
      <h1>Mission</h1>
      <p>Wolf Lacrosse provides a specialized and position oriented skills clinic that puts development above all else. Through the success and experience of our instructors, Wolf Lacrosse will improve player’s lacrosse IQ, skills, and work ethic through a series of teachings that will prepare them for the highest level of lacrosse.</p>
      <p>These clinics will be held in small groups in order to maximize instruction and provide players with the personal attention necessary to improve. Dodging, shooting, inside play, feeding, riding, leadership, training, and other aspects of the position will be at the core of the program. </p>
    </div>

    <div class="col-xs-10 col-xs-offset-1">
      <h1>Philosophy</h1>
      <p>I have worked, coached, and attended hundreds of camps throughout my lacrosse youth experience. I believe there is a needed service for a more specialized and position focused skills clinic that puts development and teaching ahead of all other aspects. Wolf Lacrosse clinics will give players the opportunity to hone their skills and improve their fundamentals in order to prepare them for future lacrosse competitions. (recruiting events, seasons, tournaments etc.)
  </p>
    </div>
  </div>

  <div class="container" id="jordan">
    <div class="col-xs-6 col-xs-offset-3 bottom-margin">
      <h1>About Jordan</h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1 bottom-margin">
      <div class="profile-wrap-jordan">
        <%= image_tag 'jordan.png', class: 'jordan-profile' %>
      </div>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
      <%= image_tag 'jordan_action.png', id: 'jordan-action' %>
    </div>
    <div class="col-xs-6 col-xs-offset-1" id="jordan-bio">
      <p>Jordan, a native of Philadelphia, PA, attended Lower Merion high school where he played Varsity Soccer, Ice Hockey, and Lacrosse. Jordan finished his lacrosse career with 183 goals, while establishing school records for career points (332) and assists (149). Jordan played club lacrosse for the Dukes Lacrosse club. Jordan currently plays professionally for the Rochester Rattlers.</p>
      <h5>Notable Accomplishments:</h5>
      <ul>
        <li>2014- 2014 National Champion, USILA 1st Team All American, All-ACC Selection, ACC Offesinve Player of the Year, 2014 NCAA Tournament MVP, 2014 ACC Scholar Athlete of the Year, Tewaarton Finalist.</li>
        <li>2013- 2013 National Champion, USILA 2nd Team All American, All-ACC Selection, Voted to NCAA and ACC All-Tournament Teams</li>
        <li>2012- USILA 2nd Team All American, All- ACC selection</li>
        <li>2011- USILA All-America honorable mention, All-ACC selection</li>
      </ul>
    </div>
  </div>


  <div class="container" id="staff">

    <div class="col-xs-8 col-xs-offset-2 staff top-margin">
      <div class="col-xs-4">
        <div class="profile-wrap">
          <%= image_tag 'david_lawson_sprite.png', class: 'profile', id: 'lawson' %>
        </div>
      </div>
      <div class="col-xs-7 col-xs-offset-1 left-margin">
        <h2>Dave Lawson, Midfield</h2>
        <p>Native of Boston Massachusets. Currently plays professionally for the Rochester Rattlers.</p>
        <h5>Notable Accomplishments:</h5>
        <ul>
          <li>2010 and 2013 NCAA Champion</li>
          <li>2013 USILA All American, All ACC Selection</li>
          <li>USA World Team Member</li>
          <li>All World Team 2014</li>
        </ul>
      </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2 staff">
      <div class="profile-wrap-right">
        <%= image_tag 'michael_manley_sprite.png', class: 'profile', id: 'manley' %>
      </div>
      <h2>Mike Manley, Defense</h2>
      <p> Native of Penn Yan New York. Currently plays professionally for the Rochester Rattlers.</p>
      <h5>Notable Accomplishments:</h5>
      <ul>
        <li>2010 NCAA National Champion</li>
        <li>2010 3rd Team USILA All American, All ACC Selection</li>
        <li>2014 MLL Defenseman of the Year</li>
      </ul>
    </div>

  <div class="col-xs-8 col-xs-offset-2 staff">
    <div class="col-xs-4">
      <div class="profile-wrap">
        <%= image_tag 'josh_offit_sprite.png', class: 'profile', id: 'offit' %>
      </div>
    </div>

    <div class="col-xs-7 col-xs-offset-1">
      <h2>Josh Offit, Attack/Midfield</h2>
      <p>Native of Washington DC.</p>
      <h5>Notable Accomplishments:</h5>
      <ul>
        <li>2010 and 2013 NCAA Champion</li>
        <li>2013 USILA All American Third Team Selection</li>
      </ul>
    </div>
  </div>

  </div>
</div>
