<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'logo.png', class: 'logo-nav' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/about">About</a></li>
        <li><a href="#">Clinics</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="col-xs-12 centered">
    <div class="btn-group">
      <button type="button" class="btn btn-default" id="about-button">About</button>
      <button type="button" class="btn btn-default" id="jordan-button">Jordan</button>
      <button type="button" class="btn btn-default" id="staff-button">Staff</button>
    </div>
  </div>
</div>

<div class="container" id="about">
  <div class="col-xs-10 col-xs-offset-1">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem culpa earum delectus nobis, excepturi suscipit ad sapiente reprehenderit. Architecto rem, doloribus eveniet aliquam, quaerat consequuntur dolor aperiam dolorem. Commodi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem culpa earum delectus nobis, excepturi suscipit ad sapiente reprehenderit. Architecto rem, doloribus eveniet aliquam, quaerat consequuntur dolor aperiam dolorem. Commodi.</p>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <h1>Mission</h1>
    <p>Wolf Lacrosse provides a specialized and position oriented skills clinic that puts development above all else. Through the success and experience of our instructors, Wolf Lacrosse will improve player’s lacrosse IQ, skills, and work ethic through a series of teachings that will prepare them for the highest level of lacrosse. These clinics will be held in small groups in order to maximize instruction and provide players with the personal attention necessary to improve. Dodging, shooting, inside play, feeding, riding, leadership, training, and other aspects of the position will be at the core of the program. </p>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <h1>Philosophy</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem culpa earum delectus nobis, excepturi suscipit ad sapiente reprehenderit. Architecto rem, doloribus eveniet aliquam, quaerat consequuntur dolor aperiam dolorem. Commodi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem culpa earum delectus nobis, excepturi suscipit ad sapiente reprehenderit. Architecto rem, doloribus eveniet aliquam, quaerat consequuntur dolor aperiam dolorem. Commodi.</p>
  </div>
</div>

<div class="container" id="jordan">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>About Jordan</h1>
  </div>
  <div class="col-xs-10 col-xs-offset-1">
    <div class="profile-wrap-jordan">
      <%= image_tag 'jordan.png', class: 'jordan-profile' %>
    </div>
  </div>
  <div class="col-xs-6 col-xs-offset-3" id="jordan-bio">
    <p>2014- 2014 National Champion, USILA 1st Team All American, All-ACC Selection, ACC Offesinve Player of the Year, 2014 NCAA Tournament MVP, 2014 ACC Scholar Athlete of the Year, Tewaarton Finalist.</p>
    <p>2013- 2013 National Champion, USILA 2nd Team All American, All-ACC Selection, Voted to NCAA and ACC All-Tournament Teams</p>
    <p>2012- USILA 2nd Team All American, All- ACC selection</p>
    <p>2011- USILA All-America honorable mention, All-ACC selection</p>
  </div>
</div>


<div class="container" id="staff">
  <div class="col-xs-10 col-xs-offset-1 staff">
    <h1 class="bottom-margin">Our Staff</h1>
    <div class="profile-wrap">
      <%= image_tag 'random_1.jpg', class: 'profile' %>
    </div>
    <h2>John</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem culpa earum delectus nobis, excepturi suscipit ad sapiente reprehenderit. Architecto rem, doloribus eveniet aliquam, quaerat consequuntur dolor aperiam dolorem. Commodi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem culpa earum delectus nobis, excepturi suscipit ad sapiente reprehenderit. Architecto rem, doloribus eveniet aliquam, quaerat consequuntur dolor aperiam dolorem. Commodi.</p>
  </div>

  <div class="col-xs-10 col-xs-offset-1 staff">
    <div class="profile-wrap-right">
      <%= image_tag 'random_2.jpg', class: 'profile' %>
    </div>
    <h2>Steve</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem culpa earum delectus nobis, excepturi suscipit ad sapiente reprehenderit. Architecto rem, doloribus eveniet aliquam, quaerat consequuntur dolor aperiam dolorem. Commodi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem culpa earum delectus nobis, excepturi suscipit ad sapiente reprehenderit. Architecto rem, doloribus eveniet aliquam, quaerat consequuntur dolor aperiam dolorem. Commodi.</p>
  </div>

<div class="col-xs-10 col-xs-offset-1 staff">
    <div class="profile-wrap">
      <%= image_tag 'random_3.jpg', class: 'profile' %>
    </div>
    <h2>Ahmed</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem culpa earum delectus nobis, excepturi suscipit ad sapiente reprehenderit. Architecto rem, doloribus eveniet aliquam, quaerat consequuntur dolor aperiam dolorem. Commodi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem culpa earum delectus nobis, excepturi suscipit ad sapiente reprehenderit. Architecto rem, doloribus eveniet aliquam, quaerat consequuntur dolor aperiam dolorem. Commodi.</p>
  </div>
</div>
