<%- title "Wolf Lacrosse - About" %>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'logo_blue.png', class: 'logo-nav' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/camps">Camps</a></li>
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/about/staff">Staff</a></li>
        <li><a href="/about/jordan">Jordan</a></li>
        <li><a href="<%= new_camper_path %>">Register</a></li>
      </ul>
      <!-- admin section -->
      <% if current_user != nil && current_user.admin %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/clinics/new">Add a Clinic</a></li>
            <li><a href="/camps/reports">Camp Reports</a></li>
            <li class="divider"></li>
            <li><%= link_to'Log Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content-wrap">
  <div class="container bottom-margin">
    <div class="col-xs-12 centered">
      <div id="owl-demo" class="owl-carousel owl-theme">

        <div class="item"><%= image_tag 'slideshow1.jpg' %></div>
        <div class="item"><%= image_tag 'slideshow2.jpg' %></div>
        <div class="item"><%= image_tag 'slideshow3.jpg' %></div>
        <div class="item"><%= image_tag 'slideshow4.jpg' %></div>

      </div>
    </div>
  </div>

  <div class="container" id="about">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>About</h1>
      <p>I founded Wolf Lacrosse in an effort to prepare and mold the future talent of college and professional lacrosse. The company is based around the principles of teaching, foundation, fundamentals and development. I have had the privilege to be coached and trained by some of the best minds in the game and I would like to give youth lacrosse players that same opportunity. We will provide kids with the skills as well as the intangible qualities to succeed on and off the field.</p>
    </div>

    <div class="col-xs-10 col-xs-offset-1">
      <h1>Mission &amp; Philosophy</h1>
      <p>Wolf Lacrosse provides a specialized and position oriented skills camp that puts development above all else. We maintain a 10:1 player to coach ratio in order to maximize instruction and provide players with the personal attention necessary to improve. Dodging, shooting, inside play, feeding, riding, leadership, training, and other aspects of the position will be at the core of the program. I have worked, coached, and attended many camps throughout my lacrosse youth experience. Wolf Lacrosse Camps will give players the opportunity to hone their skills and improve their fundamentals in order to prepare them for future lacrosse competitions.</p>
    </div>

    <div class="col-xs-10 col-xs-offset-1">
      <h1>Camp Program</h1>
      <p>So what the heck will I be doing at Wolf Lacrosse Camp anyway?</p>
      <p>Arrive at 8:45am sharp with all equipment, lunch and water bottle.  We will play HARD from 9-3 with a one hour lunch break from 11:30-12:30.</p>
      <p>We will become more proficient lacrosse players, compete hard, get smarter, have some cool demonstrations and conduct fun competitions with prizes! We will be testing your lacrosse IQ and skills throughout the day!</p>

      <h5 class="underline">Day 1</h5>
      <ul>
        <li>Stick work</li>
        <li>Offensive, defensive, between the lines ground balls</li>
        <li>Scrapping ground balls to goal</li>
        <li>Build up - 2v1, 3v2, 4v3, 5v4, 6v5 </li>
        <li>Scramble situation drills - Unsettled play</li>
        <li>Contests - Groundball, unsettled, 1v1s, shooting</li>
        <li>Games</li>
      </ul>

      <h5 class="underline">Day 2</h5>
      <ul>
        <li>Stick work</li>
        <li>1 v 1s, 2v2, 3v3s, 4v4s  - position oriented</li>
        <li>Wing dodging</li>
        <li>Indoor style dodging</li>
        <li>Shooting - position oriented including Defense</li>
        <li>Contests</li>
        <li>Games</li>
      </ul>

      <h5 class="underline">Day 3</h5>
      <ul>
        <li>Stick work</li>
        <li>Shooting demo</li>
        <li>Defensive footwork</li>
        <li>Unsettled drills</li>
        <li>1v1s</li>
        <li>Contests</li>
        <li>Games</li>
      </ul>
    </div>
  </div>

</div>
