<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'logo_duke.png', class: 'logo-nav' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
        <li><a href="#">Clinics</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li class="active"><a href="/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="col-xs-10 col-xs-offset-1 centered bottom-margin">
    <h1>Contact Us</h1>
  </div>
  <div class="col-xs-8 col-xs-offset-2 bottom-margin">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, inventore, commodi! Magnam tempore, soluta totam, excepturi, dolorem laudantium libero architecto sint veritatis, quisquam unde at veniam quia obcaecati enim cum!</p>
  </div>
  <div class="row contact-icons">
    <div class="col-xs-3 col-xs-offset-2">
      <a href="https://www.google.com/maps/place/Duke+University/@36.001426,-78.938229,17z/data=!3m1!4b1!4m2!3m1!1s0x89ace6b201eb327f:0xb21f1655ee1ca38d" target="_blank"><div class="contact-icon-wrap" id="map-icon">
        <%= image_tag 'map_white.png', class: 'contact-icon' %>
      </div></a>
        <p><a href="https://www.google.com/maps/place/Duke+University/@36.001426,-78.938229,17z/data=!3m1!4b1!4m2!3m1!1s0x89ace6b201eb327f:0xb21f1655ee1ca38d" target="_blank">Duke University, Durham, NC 27708<a/></p>
    </div>
    <div class="col-xs-2">
      <a href="tel:+2222222222"><div class="contact-icon-wrap" id="phone-icon">
        <%= image_tag 'phone_white.png', class: 'contact-icon' %>
      </div></a>
      <p><a href="tel:+2222222222">(222) 222-2222</a></p>
    </div>
    <div class="col-xs-3">
      <a href="mailto:jordan@wolflax.com"><div class="contact-icon-wrap" id="email-icon">
        <%= image_tag 'email_white.png', class: 'contact-icon' %>
      </div></a>
      <p><a href="mailto:jordan@wolflax.com">jordan@wolflax.com</a></p>
    </div>
  </div>
</div>
