<nav class="navbar navbar-default navbar-fixed-top" id="navbar-homepage" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'logo_duke.png', class: 'logo-nav' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
        <li><a href="#">Clinics</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <!-- admin section -->
      <% if current_user != nil && current_user.admin %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/admin/clinics">Scheduled Clinics</a></li>
            <li><a href="/clinics/new">Add a Clinic</a></li>
            <li class="divider"></li>
            <li><%= link_to'Log Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="headline-wrap col-xs-12">
    <div class="headline">
      <h1>Welcome to Wolf Lacrosse</h1>
      <h3>Defining the Future</h3>
    </div>
  </div>
  <div class="hero-img-wrap">
    <%= image_tag 'logo_duke.png', class: 'logo' %>
    <div class="hero-img-overlay"></div>
  </div>
  <div class="nav-wrap">
    <a href="/about"><button type="button" class="btn btn-default nav-button vcenter"><i class="fa fa-github"></i> about</button></a>
    <a href="/clinics"><button type="button" class="btn btn-default nav-button"><%= image_tag 'clinic.svg', class: 'button-icon' %> clinics</button></a>
    <a href="/faq"><button type="button" class="btn btn-default nav-button"><i class="fa fa-comment"></i> FAQ</button></a>
    <a href="/contact"><button type="button" class="btn btn-default nav-button"><i class="fa fa-envelope"></i> Contact</button></a>
  </div>
</div>

<div class="container-fluid content">
  <div class="col-xs-10 col-xs-offset-1">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <div class="col-xs-10 col-xs-offset-1 centered">
    <h1 class="bottom-margin">Welcome to Wolf Lacrosse</h1>
    <div class="col-xs-7">
      <p class="justify">Wolf Lacrosse is a one-of-a-kind lacrosse experience for young players that specializes on player positions and development. We have gathered some of the best players in the world to give young lacrosse players a competitive edge. At Wolf Lacrosse Clinics, you will improve your lacrosse IQ, skills, fundamentals, and worth ethic through a highly structured and efficient lacrosse program. There is always room for improvement. There is no offseason!</p>
    </div>
    <div class="col-xs-4 col-xs-offset-1 align-right">
      <div class="profile-wrap">
      <%= image_tag 'jordan_in_blue.png', id: 'welcome-img' %>
      </div>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1 centered">
      <h1 class="bottom-margin-small">Upcoming Clinics</h1>
    <div class="col-xs-7">
      <p class="bottom-margin">Sign up for one of our upcoming clinics!</p>
      <% @clinics.each do |clinic| %>
          <h3 class="left-align"><%= clinic.name %></h3>
          <p><%= clinic.description %></p>
          <p><%= clinic.date_time.strftime "%A %b %e at %l:%M %p" %> - <%= clinic.location_name %></p>
          <p><%= link_to 'Click for more info', new_student_path(:clinic_id => clinic.id) %></p>
      <% end %>
    </div>
    <div class="col-xs-4 col-xs-offset-1 align-right">
      <div class="col-xs-3 bottom-margin">
        <div class="profile-wrap" id="upcoming-wrap">
          <%= image_tag 'jordan_shooting.png', id: 'upcoming-img' %>
        </div>
      </div>
    </div>
  </div>

</div>
