<nav class="navbar navbar-default navbar-fixed-top" id="navbar-homepage" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'new_logo_blue.png', class: 'logo-nav' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/camps">Camps</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/about/staff">Staff</a></li>
        <li><a href="/about/jordan">Jordan</a></li>
        <li><a href="<%= new_camper_path %>">Register</a></li>
      </ul>
      <!-- admin section -->
      <% if current_user != nil && current_user.admin %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/camps/new">Add a Camp</a></li>
            <li><a href="/camps/reports">Camp Reports</a></li>
            <li class="divider"></li>
            <li><%= link_to'Log Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content-wrap">
  <div class="container-fluid">
    <div class="hero-img-wrap">
      <%= image_tag 'new_logo_blue.png', class: 'logo' %>
      <div class="hero-img-overlay"></div>
    </div>
    <div class="nav-wrap red-text">
      <button onclick="window.location.href='/camps'" class="button button--antiman button--inverted button--border-thin button--text-thick button--size-m"><span>Camps</span></button>
      <button onclick="window.location.href='/about'" class="button button--antiman button--inverted button--border-thin button--text-thick button--size-m"><span>About</span></button>
      <button onclick="window.location.href='/about/staff'" class="button button--antiman button--inverted button--border-thin button--text-thick button--size-m"><span>Staff</span></button>
      <button onclick="window.location.href='/about/jordan'" class="button button--antiman button--inverted button--border-thin button--text-thick button--size-m"><span>Jordan</span></button>
      <button onclick="window.location.href='/campers/new'" class="button button--antiman button--inverted button--border-thin button--text-thick button--size-m"><span>Register</span></button>
    </div>
  </div>

  <div class="container-fluid content">
    <% unless notice.nil? || alert.nil? %>
      <div class="col-xs-10 col-xs-offset-1">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <div class="col-xs-12">
      <h1 class="centered welcome-header">Welcome to Wolf Lacrosse</h1>
      <div class="col-xs-12 col-md-3">
        <div class="profile-wrap-homepage">
        <%= image_tag 'homepage_5.jpg', id: 'welcome-top-left' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 homepage-text">
        <p class="justify"><span class="bold">Wolf Lacrosse</span> is a one-of-a-kind lacrosse experience for young players that specializes on player positions and development.</p>
        <p>At <span class="bold">Wolf Lacrosse</span> Camps, you will improve your lacrosse IQ, skills, fundamentals, and work ethic through a highly structured and efficient lacrosse program.</p>
        <p>Our goals are very simple. We want every player to improve his skills and become more proficient AND we want every player to have a blast playing the sport of lacrosse!</p>
        <p>Please note that our camps are designed for - <span class="bold">Boys in or entering Grade 4 through incoming High School Seniors</span>.</p>
        <p>I take great pride in getting to know your child and being on the field everyday with all of our campers.</p>
      </div>
      <div class="col-xs-12 col-md-3 align-right">
        <div class="profile-wrap-homepage">
        <%= image_tag 'jordan_in_blue.png', id: 'welcome-img' %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 centered">
        <h1 class="bottom-margin-small">Upcoming Camps</h1>
        <p class="centered homepage-text">If you are interested in hosting a Wolf Lacrosse Camp, kindly contact <a href="mailto:george@wolflax.com">George Stein</a>.</p>

      <div class="col-xs-12 col-md-3">
        <div class="profile-wrap-homepage upcoming-wrap">
          <%= image_tag 'homepage_3.jpg', id: 'welcome-bottom-left' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
        <% @camps.each do |camp| %>
            <h3 class="left-align"><%= camp.name %></h3>
            <p><%= camp.starting_date.strftime "%a, %B %e" %> - <%= camp.ending_date.strftime "%a %B %e" %></p>
            <p>Camp starts in: <span class="clock" data-start="<%= camp.starting_date.strftime "%Y/%m/%d" %>"></span></p>
            <p><%= link_to 'Click here for more information', camp_path(camp.id) %></p>
        <% end %>
        <br>
        <% if @upcoming_camps.length > 4 %>
          <%= link_to "View All Camps", camps_path, {class: "btn btn-primary btn-lg view-all-camps-button"} %>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-3 align-right">
        <div class="profile-wrap-homepage upcoming-wrap">
          <%= image_tag 'homepage_4.jpg', id: 'upcoming-img' %>
        </div>
      </div>
    </div>

  </div>
</div>
