<nav class="navbar navbar-default navbar-fixed-top" id="navbar-homepage" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'logo_blue.png', class: 'logo-nav' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/camps">Camps</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/about?q=staff">Staff</a></li>
        <li><a href="/about?q=jordan">Jordan</a></li>
        <li><a href="<%= new_camper_path %>">Register</a></li>
      </ul>
      <!-- admin section -->
      <% if current_user != nil && current_user.admin %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/camps/new">Add a Camp</a></li>
            <li><a href="/camps/reports">Camp Reports</a></li>
            <li class="divider"></li>
            <li><%= link_to'Log Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content-wrap">
  <div class="container-fluid">
    <div class="hero-img-wrap">
      <%= image_tag 'logo_blue.png', class: 'logo' %>
      <div class="hero-img-overlay"></div>
    </div>
    <div class="nav-wrap red-text">
      <a href="/camps"><button type="button" class="btn btn-default nav-button"><%= image_tag 'clinic.png', class: 'button-icon' %> <span class="red-text">camps</span></button></a>
      <a href="/about"><button type="button" class="btn btn-default nav-button vcenter"><i class="fa fa-info-circle"></i> <span class="red-text">about</span></button></a>
      <a href="/about?q=staff"><button type="button" class="btn btn-default nav-button"><i class="fa fa-comment"></i> <span class="red-text">staff</span></button></a>
      <a href="/about?q=jordan"><button type="button" class="btn btn-default nav-button"><i class="fa fa-envelope"></i> <span class="red-text">jordan</span></button></a>
      <a href="<%= new_camper_path %>"><button type="button" class="btn btn-default nav-button"><i class="fa fa-envelope"></i> <span class="red-text">register</span></button></a>
    </div>
  </div>

  <div class="container-fluid content">
    <div class="col-xs-10 col-xs-offset-1">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="col-xs-10 col-xs-offset-1 centered">
      <h1 class="bottom-margin">Welcome to Wolf Lacrosse</h1>
      <div class="col-xs-7">
        <p class="justify">Wolf Lacrosse is a one-of-a-kind lacrosse experience for young players that specializes on player positions and development. At Wolf Lacrosse Camps, you will improve your lacrosse IQ, skills, fundamentals, and work ethic through a highly structured and efficient lacrosse program. Our goals are very simple. We want every player to improve his skills and become more proficient AND we want every player to have a blast playing the sport of lacrosse!  Please note that our camps are designed for boys in or entering grade 4 and above.</p>
      </div>
      <div class="col-xs-4 col-xs-offset-1 align-right">
        <div class="profile-wrap">
        <%= image_tag 'jordan_in_blue.png', id: 'welcome-img' %>
        </div>
      </div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 centered">
        <h1 class="bottom-margin-small">Upcoming Camps</h1>
        <p class="centered">If you are interested in hosting a Wolf Lacrosse Camp, kindly contact <a href="mailto:george@wolflax.com">George Stein</a>.</p>
      <div class="col-xs-7">
        <% @camps.each do |camp| %>
            <h3 class="left-align"><%= camp.city %>, <%= camp.state %></h3>
            <p><%= camp.starting_date.strftime "%A, %B %e" %> - <%= camp.ending_date.strftime "%A %B %e" %></p>
            <p><%= link_to 'Click here for more information', camp_path(camp.id) %></p>
        <% end %>
      </div>
      <div class="col-xs-4 col-xs-offset-1 align-right">
        <div class="col-xs-3 bottom-margin">
          <div class="profile-wrap" id="upcoming-wrap">
            <%= image_tag 'jordan_shooting.png', id: 'upcoming-img' %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
