<%- title "Wolf Lacrosse - Thank You for Registering" %>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'new_logo_blue.png', class: 'logo-nav' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/camps">Camps</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/about/staff">Staff</a></li>
        <li><a href="/about/jordan">Jordan</a></li>
        <li class="active"><a href="<%= new_camper_path %>">Register</a></li>
      </ul>
      <!-- admin section -->
      <% if current_user != nil && current_user.admin %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/camps/new">Add a Camp</a></li>
            <li><a href="/camps/reports">Camp Reports</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
            <li class="divider"></li>
            <li><%= link_to'Log Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h1 class="text-center">Thank You for Registering</h1> <br>
    <p>Thank you for registering for the <%= @camp.name %> lacrosse camp, taking place from <%= @camp.starting_date.strftime "%A %b %e, %Y" %> - <%= @camp.ending_date.strftime "%A %b %e, %Y" %>. We look forward to seeing you then.</p>
    <p>On day one each camper will receive their very own Wolf Lacrosse Camp reversible mesh jersey.</p>
    <p>Shirts, heads, backpacks and more will also be awarded each day to contest winners courtesy of Maverik Lacrosse.</p>
  </div>
  <br>
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 centered" id="google-map">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["WOLF_GMAPS_KEY"] %>
      &q=<%= @camp.google_map_name %>&zoom=11"></iframe>
  </div>
</div>
