<%- title "Wolf Lacrosse - All Testimonials" %>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'new_logo_blue.png', class: 'logo-nav' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/camps">Camps</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/about/staff">Staff</a></li>
        <li><a href="/about/jordan">Jordan</a></li>
        <li><a href="<%= new_camper_path %>">Register</a></li>
      </ul>
      <!-- admin section -->
      <% if current_user != nil && current_user.admin %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/camps/new">Add a Camp</a></li>
            <li><a href="/camps/reports">Camp Reports</a></li>
            <li class="divider"></li>
            <li><%= link_to'Log Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content-wrap">
  <div class="container">
    <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 upcoming-camps">
      <h1 class="centered">All Testimonials</h1>
    </div>
  </div>

  <div class="container testimonial-container all-testimonials">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <% @testimonials.each do |t| %>
        <div class="testimonial-wrap">
          <p class="quote">
            <i class="fa fa-quote-left"></i>
            <span><%= t.quote %></span>
            <% unless t.author.empty? %>
              <p class="author"><%= t.author %></p>
            <% end %>
          </p>
          <div class="button-wrap">
            <%= button_to 'edit', edit_testimonial_path(t), method: 'get', class: 'btn btn-info float-left' %>
            <%= button_to 'delete', testimonial_path(t), method: 'delete', class: 'btn btn-danger float-left' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
