<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title><%= content_for?(:title) ? content_for(:title) : "Wolf Lacrosse Camps" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag "https://js.stripe.com/v2/", 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61807503-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- End Google Analytics -->
</head>
<body class="<%= controller_name %> <%= action_name %>">

  <%= yield %>

<div class="container-fluid footer">
  <div class="col-sm-3 col-md-2 col-md-offset-2">
    <h4>Company</h4>
    <%= link_to 'Camps', camps_path %> <br>
    <%= link_to 'About', about_path %> <br>
    <%= link_to 'Jordan', about_jordan_path %> <br>
    <%= link_to 'Staff', about_staff_path %> <br>
    <%= link_to 'Register', new_camper_path %>
  </div>
  <div class="col-sm-3 col-md-2">
    <h4>Camps</h4>
    <%= link_to 'Upcoming Camps', camps_path %> <br>
    <% if current_user == nil %>
      <%= link_to 'Admin Login', new_user_session_path %> <br>
    <% end %>
    <% if current_user != nil && current_user.admin %>
      <%= link_to 'Admin Log Out', destroy_user_session_path, method: 'delete' %> <br>
      <%= link_to 'Add a Camp', new_camp_path %> <br>
      <%= link_to 'Camp Reports', camps_reports_path %>
    <% end %>
  </div>
  <div class="col-sm-3 col-md-2">
    <h4>Contact</h4>
    <a href="mailto:jordan@wolflax.com">Jordan Wolf</a> <br>
    <a href="mailto:george@wolflax.com">George Stein, Camp Director</a> <br>
    <div>(303) 332-8115</div>
  </div>
  <div class="col-sm-3 col-md-2">
    <h4>Sponsors</h4>
    <a href="http://www.cascadehelmets.com/" target="_blank"><%= image_tag 'cascade_logo.png', class: 'sponsor-logo' %></a>
    <a href="http://maveriklacrosse.com/" target="_blank"><%= image_tag 'maverick_logo.png', class: 'sponsor-logo' %></a>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <hr>
  </div>
  <div class="col-xs-8 col-xs-offset-2 centered">
    <p class="centered">Follow Us On Social Media</p>
  </div>
  <div class="col-xs-8 col-xs-offset-2 social-media">
    <!-- <i class="fa fa-facebook fa-2x"></i> -->
    <a href="https://twitter.com/TheBigBadWolf31" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://www.facebook.com/wolflacrossecamps" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
    <a href="http://instagram.com/jwolf31" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
    <!-- <i class="fa fa-youtube-play fa-2x last-icon"></i> -->
  </div>
</div>

</body>
</html>
