<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Wolf Lacrosse Clinics" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag "https://js.stripe.com/v2/", 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => 'pk_test_zPWECKnej44Flev2zwZDcznJ' %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

  <%= yield %>

<div class="container-fluid footer">
  <div class="col-xs-2 col-xs-offset-3">
    <h4>Company</h4>
    <%= link_to 'About', about_path %> <br>
    <%= link_to 'Jordan', about_path(:q => 'jordan') %> <br>
    <%= link_to 'Staff', about_path(:q => 'staff') %> <br>
    <%= link_to 'Contact Us', contact_path %>
  </div>
  <div class="col-xs-2">
    <h4>Clinics</h4>
    <%= link_to 'Upcoming Clinics', clinics_path %> <br>
    <% if current_user == nil %>
      <%= link_to 'Admin Login', new_user_session_path %> <br>
    <% end %>
    <% if current_user != nil && current_user.admin %>
      <%= link_to 'Admin Log Out', destroy_user_session_path, method: 'delete' %> <br>
      <%= link_to 'Scheduled Clinics', admin_clinics_path %> <br>
      <%= link_to 'Add a Clinic', new_clinic_path %>
    <% end %>
  </div>
    <div class="col-xs-2">
    <h4>Sponsors</h4>
    <a href="http://www.cascadehelmets.com/" target="_blank"><%= image_tag 'cascade_logo.png', class: 'sponsor-logo' %></a>
    <a href="http://maveriklacrosse.com/" target="_blank"><%= image_tag 'maverick_logo.png', class: 'sponsor-logo' %></a>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <hr>
  </div>
  <div class="col-xs-8 col-xs-offset-2 centered">
    <p class="centered">Follow Us On Social Media</p>
  </div>
  <div class="col-xs-8 col-xs-offset-2 social-media">
    <i class="fa fa-facebook fa-2x"></i>
    <a href="https://twitter.com/TheBigBadWolf31" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="http://instagram.com/jwolf31" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
    <i class="fa fa-youtube-play fa-2x last-icon"></i>
  </div>
</div>

</body>
</html>
